/* * General Styles */
#root {
  background-color: rgb(1, 1, 47);
  min-height: 100svh;
}

img {
  width: 100px;
  height: auto;
}

/* * Pages styles */

#navbar{
  max-height: 4rem;
  border: 2px dashed darkgoldenrod;
}
#navbar-links{
  width: 50%;
}

#footer{
  max-height: 4rem,;
  border: 2px dashed darkgoldenrod;
}

#app{
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#card {
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px 2px rgba(16,16,16, 0.6);
}

/* * Flex styles */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

/* * Paddings + Margins */

.pd-20{
  padding: 0px 20px;
}



/* ? TABLET */
@media (min-width: 480px) {
  #root {
    background-color: rgb(0, 42, 0);
    font-size: 0.9rem;
  }
}

/* ? Desktop */
@media (min-width: 1024px) {
  #root {
    background-color: rgb(1, 70, 70);
    font-size: 1.2rem;
  }


}