/* * General Styles */
#root {
  min-height: 100svh;
  font-size: 0.8rem;
}

img {
  width: 100px;
  height: auto;
}

/* * Pages styles */

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1129%26quot%3b)' fill='none'%3e%3cpath d='M340.18 511.25 a299.15 299.15 0 1 0 598.3 0 a299.15 299.15 0 1 0 -598.3 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M56.23 298.69 a209.53 209.53 0 1 0 419.06 0 a209.53 209.53 0 1 0 -419.06 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-41.87 644.03 a276.54 276.54 0 1 0 553.08 0 a276.54 276.54 0 1 0 -553.08 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M358.921%2c1186.82C406.911%2c1183.228%2c445.961%2c1154.026%2c471.92%2c1113.504C500.672%2c1068.623%2c523.45%2c1014.696%2c499.781%2c966.939C473.968%2c914.856%2c417.047%2c886.14%2c358.921%2c885.504C299.643%2c884.855%2c242.847%2c912.801%2c212.619%2c963.797C181.806%2c1015.781%2c179.108%2c1082.415%2c212.254%2c1132.943C242.873%2c1179.619%2c303.254%2c1190.987%2c358.921%2c1186.82' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M420.4 34.49 a199.13 199.13 0 1 0 398.26 0 a199.13 199.13 0 1 0 -398.26 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M619.31 923.79 a261.02 261.02 0 1 0 522.04 0 a261.02 261.02 0 1 0 -522.04 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M887.02 408.79 a231.92 231.92 0 1 0 463.84 0 a231.92 231.92 0 1 0 -463.84 0z' fill='rgba(255%2c 255%2c 255%2c 0.02)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1129'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 3s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 3s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

#clip {
  position: fixed;
  font-size: 5rem;
  bottom: 0;
  right: 0;
  z-index: 3;
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
}

#clip:target{
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

#clip-message {
  position: fixed;
  bottom: 8rem;
  right: 5%;
  z-index: 3;
  -webkit-user-drag: none;
  user-select: none;
  border: 2px solid var(--secondary-color);
  background-color: var(--background-color);
  padding: 0 1rem;
  border-radius: 5px;
  text-align: center;
  max-width: 30%;
}

#mood {
  margin: 2rem;
}

#grid {
  width: 100%;
  padding: 5rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#grid .item-fav{
  box-shadow: none;
  border: none !important;
}
#grid .img-nofav{
  filter: saturate(0) !important;
}

.container {
  display: flex;
  flex-direction: column;
}

/* * Flex styles */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-rv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

/* * Paddings + Margins */

.pd-20 {
  padding: 0px 20px;
}

.gap-10 {
  gap: 10px;
}

#error {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#not-found {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.pacman {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
}

iframe {
  height: 90%;
  width: 90%;
}

/* ? TABLET */
@media (min-width: 480px) {
  #root {
    font-size: 0.9rem;
  }
}

/* ? Desktop */
@media (min-width: 1024px) {
  #root {
    font-size: 1.2rem;
  }

  #grid {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .filter-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 30px 0px 60px;
  }
}
