@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Varta:wght@300..700&display=swap');

:root {
  font-family: 'Cairo', 'Varta', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Varta', 'Cairo';
}

*{
  box-sizing: border-box;
}

.dark-theme {
  color: white;
  background-color: rgb(20, 20, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: rgb(40, 40, 40);
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(255, 232, 120);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 221, 52, 0.479);
}

.red-theme {
  color: rgb(181,0,0);
  background-color: rgb(59, 12, 12);

  --text-color: rgb(255, 255, 255);
  --background-color: rgb(59, 12, 12);
  --primary-color: rgb(181,0,0);
  --secondary-color: rgb(255, 92, 92);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(181,0,0, 0.2);
}

.yellow-theme {
  color: rgb(255, 222, 52);
  background-color: rgb(92, 92, 52);

  --text-color: rgb(255, 255, 255);
  --background-color: rgb(92, 92, 52);
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(255, 232, 120);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}

.pink-theme {
  color: rgb(255, 165, 236);
  background-color: rgb(146, 90, 146);

  --text-color: rgb(255, 255, 255);
  --background-color: rgb(146, 90, 146);
  --primary-color: rgb(255, 165, 236);
  --secondary-color: rgb(251, 204, 241);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 165, 236, 0.2);
}

.blue-theme {
  color: rgb(56, 89, 255);
  background-color: rgb(0, 0, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 40);
  --primary-color: rgb(56, 89, 255);
  --secondary-color: rgb(106, 128, 255);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(56, 89, 255, 0.5);
} 

.purple-theme {
  color: rgb(73, 0, 59);
  background-color: rgb(53, 22, 53);

  --text-color: rgb(255, 255, 255);
  --background-color: rgb(53, 22, 53);
  --primary-color: rgb(120, 0, 96);
  --secondary-color: rgb(167, 0, 134);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(99, 1, 80, 0.5);
}

a, p, h1, h2, h3, h4, h5 , h6, label{
  color: var(--text-color)
}

input, select{
  border-radius: 5px;
  border: 2px solid var(--shadow-accent);
  background-color: var(--background-color);
}