@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Varta:wght@300..700&display=swap');

:root {
  font-family: Cairo, Varta, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.light-theme {
  color: black;
  background-color: rgb(230, 230, 230);

  --text-color: rgb(0, 0, 0);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 212, 20);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 212, 20, 0.5);
}

.dark-theme {
  color: white;
  background-color: rgb(20, 20, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}

.red-theme {
  color: #b50000;
  background-color: #ffe8e8;

  --text-color: rgb(0, 0, 0);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 212, 20);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 212, 20, 0.5);
}
.red-theme-dark {
  color: black;
  background-color: #170000;

  --text-color: rgb(255, 255, 255);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}

.yellow-theme {
  color: #ffde34;
  background-color: rgb(230, 230, 230);

  --text-color: rgb(0, 0, 0);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 212, 20);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 212, 20, 0.5);
}
.yellow-theme-dark {
  color: black;
  background-color: rgb(20, 20, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}

.pink-theme {
  color: #ffa5ec;
  background-color: rgb(230, 230, 230);

  --text-color: rgb(0, 0, 0);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 212, 20);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 212, 20, 0.5);
}

.pink-theme-dark {
  color: black;
  background-color: rgb(20, 20, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}

.darkblue-theme {
  color: #2a3b90;
  background-color: rgb(230, 230, 230);

  --text-color: rgb(0, 0, 0);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 212, 20);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 212, 20, 0.5);
}
.darkblue-theme-dark {
  color: black;
  background-color: rgb(20, 20, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}
.darkpurple-theme {
  color: #49003b;
  background-color: rgb(230, 230, 230);

  --text-color: rgb(0, 0, 0);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 212, 20);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.1);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 212, 20, 0.5);
}
.darkpurple-theme-dark {
  color: black;
  background-color: rgb(20, 20, 20);

  --text-color: rgb(255, 255, 255);
  --background-color: #e7e7e7;
  --primary-color: rgb(255, 222, 52);
  --secondary-color: rgb(175, 175, 175);

  --shadow: rgba(0,0,0, 0.9);
  --shadow-dark: rgba(0,0,0, 0.6);
  --shadow-accent: rgba(255, 222, 52, 0.2);
}


a, p, h1, h2, h3, h4, h5 , h6{
  color: var(--text-color)
}

/* Colores

background-dark   ->  #161616
background-light  ->  #e7e7e7
texto-dark        ->  white
texto-light       ->  black
yellow            ->  #ffde34
red               ->  #b50000
darkblue          ->  #2a3b90
darkpurple        ->  #49003b
pink              ->  #ffa5ec

*/